<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="tutorial-details-cust.component.css" />
</head>
<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <br>
    <h4>Movie</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>Movie Time:</strong></label>
      {{ currentTutorial.MovieTime }}
    </div>
  
    <div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let showtime of currentTutorial.ShowTime; let i = index"
        >
        <label><strong>Show Time {{ i + 1 }}:</strong></label><br>
        <label><strong> Date:</strong> {{ showtime.date }}</label><br>
        <label><strong> Start Time:</strong> {{ showtime.hours }}</label><br>
        <label><strong> End Time:</strong> {{ showtime.endTime }}</label>
      </li>
      </ul>
    </div>
   

    <a class="badge badge-warning" 
    routerLink="/tutorialsCust/{{ currentTutorial.id }}"> 
      book </a>

  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Movie...</p>
  </div>  
  </div>

  <!-- the booking section -->
  <ng-template #editable>
    <div>
      <label for="showTimeDropdown"><strong>Select Show Time:</strong></label>
      <select id="showTimeDropdown" class="form-control" [(ngModel)]="selectedShowTime" (change)="onShowTimeSelected()">
        <option *ngFor="let showtime of currentTutorial.ShowTime; let i = index" [ngValue]="showtime">
          Show Time {{ i + 1 }} Date: {{ showtime.date }} Start Time:{{ showtime.hours }} End Time: {{ showtime.endTime }}
        </option>
      </select>
      
    </div>
    <div>
      <label for="cinemaDropdown"><strong>Select Cinema:</strong></label>
      <select id="cinemaDropdown" class="form-control" [(ngModel)]="selectedCinema">
        <option *ngFor="let cinema of cinemas" [ngValue]="cinema" (click)="onCinemaSelected(cinema)">
          {{ cinema.name }}
        </option>
      </select>
    </div>
    <div >
      <select id="movie">
        <option >
       
        </option>
      </select>
    </div>
<div class="body">
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Sold</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
  
      <div class="row" *ngFor="let row of [1, 2, 3, 4, 5, 6]; let rowIndex = index">
        <div
          class="seat"
          (click)="toggleSeatSelection($event, rowIndex, seatIndex)"
          *ngFor="let seat of [1, 2, 3, 4, 5, 6, 7, 8]; let seatIndex = index"
        >
          {{ getSeatNumber(rowIndex, seatIndex) }}
        </div>
      </div>
      

    </div>
</div>
<p class="text">
  You have selected <span id="count">{{ selectedSeats.length }}</span> seats.<span id="total"></span>
</p>
    <button type="submit" class="badge badge-success mb-2" (click)="saveBooking()">
      Submit
</button>


  </ng-template>
