<!-- google-maps-demo.component.html -->

<google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom"
            >
  <ng-container *ngFor="let markerPositionAndName of markerPositionsAndNames; let i = index">
    <map-marker #marker="mapMarker"
                [position]="markerPositionAndName.position"
                (mapClick)="openInfoWindow(marker, markerPositionAndName.name)">
                <map-info-window ><h6>{{ selectedMarkerContent }}</h6></map-info-window>
    </map-marker>
  </ng-container>

  <!-- Separate template for map-info-window outside the loop -->
  
</google-map>
