<!-- tutorials-list-cust.component.html -->
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

    <div class="col-md-8">
    <h4>Vendors List</h4>
    <!-- Dropdown for vendors with a placeholder -->
    <select class="form-control" [(ngModel)]="selectedVendor" (change)="onVendorChange()">
      <!-- Placeholder option -->
      <option value="" disabled selected>Select a vendor</option>
      <!-- Vendor options using _id as the value -->
      <option *ngFor="let vendor of vendors; let i = index" [value]="vendor._id">
        {{ vendor.username }}
      </option>
    </select>
  </div>

 <div class="col-md-6">
  <br>
    <h4>Movies List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.title }}
      </li>
    </ul>
  </div>
<div class="col-md-6">
    <app-tutorial-details-cust
      [viewMode]="true"
      [currentTutorial]="currentTutorial"
    ></app-tutorial-details-cust>
  </div>
  <div class="col-md-6">
    <app-tutorial-details-cust
      [viewMode]="true"
      [currentTutorial]="currentVendor"
    ></app-tutorial-details-cust>
  </div>
</div>
