<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"*ngIf="showAdminBoard">Customer</a>
    <a href="#" class="navbar-brand"*ngIf="showModeratorBoard">Vendor</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li> -->
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/tutorialsCust" class="nav-link" routerLink="tutorialsCust">Movies List</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/map-marker" class="nav-link" routerLink="map-marker">Cinema Locations</a>  
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/add" class="nav-link" routerLink="add">Add Movie</a>  
      </li> 
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/tutorials" class="nav-link" routerLink="tutorials">Movies List</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/addcinema" class="nav-link" routerLink="addcinema">Add Cinema</a>  
      </li>
     
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/cinemas" class="nav-link" routerLink="cinemas">Cinemas List</a>
      </li>
   
      <!-- <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
<!-- <div *ngIf="message;">
  <h1>{{ message.notification.title }}</h1>
  <h2>{{ message.notification.body }}</h2>
</div>

<div *ngIf="!message;">
  No Message Arrived
</div> -->

</div>
